<h3>Tamagotchi</h3>

<div class="">
  <form class="form-group" action="/" method="post">
    <label for="name">What is your Tamagotchi's name?</label><br>
    <input type="text" id-"name" name="name" value="">
    <button type="Submit" class="btn btn-info" name="button">Create!</button>
  </form>

</div>
