<h3> <%= @name %></h3>

<h4>Take care of your TG!</h4>
<div class="">
  <form class="radio" action="index.html" method="post">
    <div class="radio">
      <label for=""> <input type="radio" name="feed" value="">Give nomz </label>
    </div>

    <div class="radio">
      <label for=""> <input type="radio" name="fun" value="">Have fun </label>
    </div>

    <div class="radio">
      <label for=""> <input type="radio" name="rest" value="">Get rest </label>
    </div>
    <button type="submit" class="btn btn-info" name="button">Go!</button>
  </form>

</div>

<a href='/'>Start over with a new Tamagotchi </a>



<!-- <option type="radio" name="feed" value="">Give nomz!</option>
<option type="radio" name="fun" value="">Have fun!</option>
<option type="radio" name="rest" value="">Snooze!</option> -->
